In [1]:
import pandas as pd
import sqlite3

In [2]:
orders = pd.read_csv("orders.csv")
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [3]:
users = pd.read_json("users.json")
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [4]:
conn = sqlite3.connect("food.db")
cursor = conn.cursor()

with open("restaurants.sql", "r") as file:
    sql_script = file.read()

cursor.executescript(sql_script)
conn.commit()

In [5]:
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [6]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="inner"
)

orders_users.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name,name,city,membership
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular

In [7]:
final_data = pd.merge(
    orders_users,
    restaurants,
    on="restaurant_id",
    how="inner"
)

final_data.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [8]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

In [9]:
final_data = pd.merge(
    orders_users,
    restaurants,
    on="restaurant_id",
    how="left"
)

In [10]:
orders_users = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)

final_data = pd.merge(
    orders_users,
    restaurants,
    on="restaurant_id",
    how="left"
)

final_data.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [11]:
final_data.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [12]:
final_data.to_csv(
    "final_food_delivery_dataset.csv",
    index=False
)

In [13]:
import os
os.listdir()

['.config',
 'final_food_delivery_dataset.csv',
 'orders.csv',
 'users.json',
 'food.db',
 'restaurants.sql',
 'sample_data']

In [14]:
from google.colab import files
files.download("final_food_delivery_dataset.csv")

In [17]:
import pandas as pd
import matplotlib.pyplot as plt

final_data = pd.read_csv('final_food_delivery_dataset.csv')
print('final_data head:')
print(final_data.head())

final_data head:
   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                restaurant_name_x       name       city membership  \
0               New Foods Chinese  User_2508  Hyderabad    Regular
1  Ruchi Curry House Multicuisine  User_2693       Pune    Regular
2           Spice Kitchen Punjabi  User_2084    Chennai       Gold
3          Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
4       Royal Eatery South Indian  User_1064       Pune    Regular

  restaurant_name_y  cuisine  rating
0    Restaurant_450  Mexican     3.2
1    Restaurant_309   Indian     4.5
2    Restaurant_107  Mexican     4.0
3    Restaurant_224  Chinese     4.8
4    Restaurant_293  Italian     3.0

In [18]:
gold_members_df = final_data[final_data['membership'] == 'Gold']
print('\ngold_members_df head:')
print(gold_members_df.head())

gold_members_df head:
    order_id  user_id  restaurant_id  order_date  total_amount  \
2          3     2084            107  15-07-2023        163.93
3          4      319            224  04-10-2023       1155.97
8          9      364              7  05-12-2023        953.30
11        12      884            423  27-10-2023       1484.65
13        14      364            112  24-09-2023        898.24

             restaurant_name_x       name       city membership  \
2        Spice Kitchen Punjabi  User_2084    Chennai       Gold
3       Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
8        Ruchi Biryani Punjabi   User_364    Chennai       Gold
11  Royal Tiffins Multicuisine   User_884       Pune       Gold
13          Grand Cafe Punjabi   User_364    Chennai       Gold

   restaurant_name_y  cuisine  rating
2     Restaurant_107  Mexican     4.0
3     Restaurant_224  Chinese     4.8
8       Restaurant_7  Italian     3.2
11    Restaurant_423   Indian     3.2
13    Restaurant_112  Chinese     3.2

In [19]:
city_revenue = gold_members_df.groupby('city')['total_amount'].sum().reset_index()
city_revenue = city_revenue.sort_values(by='total_amount', ascending=False)
print('\ncity_revenue head:')
print(city_revenue.head())

city_revenue head:
        city  total_amount
1    Chennai    1080909.79
3       Pune    1003012.32
0  Bangalore     994702.59
2  Hyderabad     896740.19

In [20]:
avg_order_value_by_cuisine = final_data.groupby('cuisine')['total_amount'].mean().reset_index()
print('\navg_order_value_by_cuisine head:')
print(avg_order_value_by_cuisine.head())

avg_order_value_by_cuisine head:
   cuisine  total_amount
0  Chinese    798.389020
1   Indian    798.466011
2  Italian    799.448578
3  Mexican    808.021344

In [21]:
user_total_orders = final_data.groupby('user_id')['total_amount'].sum().reset_index()
print('\nuser_total_orders head:')
print(user_total_orders.head())

user_total_orders head:
   user_id  total_amount
0        1       1289.66
1        2       7564.12
2        3       1839.51
3        4       3741.16
4        5       5742.88

In [22]:
bins = [3.0, 3.6, 4.1, 4.6, 5.1]
labels = ['3.0-3.5', '3.6-4.0', '4.1-4.5', '4.6-5.0']
final_data['rating_range'] = pd.cut(final_data['rating'], bins=bins, labels=labels, right=False)
revenue_by_rating_range = final_data.groupby('rating_range', observed=False)['total_amount'].sum().reset_index()
revenue_by_rating_range = revenue_by_rating_range.sort_values(by='total_amount', ascending=False)
print('\nrevenue_by_rating_range:')
print(revenue_by_rating_range)

revenue_by_rating_range:
  rating_range  total_amount
3      4.6-5.0    2197030.75
0      3.0-3.5    2136772.70
2      4.1-4.5    1960326.26
1      3.6-4.0    1717494.41

In [23]:
revenue_combinations = []
gold_indian_revenue = final_data[(final_data['membership'] == 'Gold') & (final_data['cuisine'] == 'Indian')]['total_amount'].sum()
revenue_combinations.append({'Combination': 'Gold + Indian cuisine', 'Total Revenue': gold_indian_revenue})
gold_italian_revenue = final_data[(final_data['membership'] == 'Gold') & (final_data['cuisine'] == 'Italian')]['total_amount'].sum()
revenue_combinations.append({'Combination': 'Gold + Italian cuisine', 'Total Revenue': gold_italian_revenue})
regular_indian_revenue = final_data[(final_data['membership'] == 'Regular') & (final_data['cuisine'] == 'Indian')]['total_amount'].sum()
revenue_combinations.append({'Combination': 'Regular + Indian cuisine', 'Total Revenue': regular_indian_revenue})
regular_chinese_revenue = final_data[(final_data['membership'] == 'Regular') & (final_data['cuisine'] == 'Chinese')]['total_amount'].sum()
revenue_combinations.append({'Combination': 'Regular + Chinese cuisine', 'Total Revenue': regular_chinese_revenue})
revenue_df = pd.DataFrame(revenue_combinations)
print('\nrevenue_df head:')
print(revenue_df.head())

revenue_df head:
                 Combination  Total Revenue
0      Gold + Indian cuisine      979312.31
1     Gold + Italian cuisine     1005779.05
2   Regular + Indian cuisine      992100.27
3  Regular + Chinese cuisine      952790.91

In [24]:
final_data['order_date'] = pd.to_datetime(final_data['order_date'], format='%d-%m-%Y')
final_data['quarter'] = final_data['order_date'].dt.quarter
quarterly_revenue = final_data.groupby('quarter')['total_amount'].sum().reset_index()
quarterly_revenue = quarterly_revenue.sort_values(by='total_amount', ascending=False)
print('\nquarterly_revenue head:')
print(quarterly_revenue.head())

quarterly_revenue head:
   quarter  total_amount
2        3    2037385.10
3        4    2018263.66
0        1    2010626.64
1        2    1945348.72

In [25]:
avg_order_value_per_restaurant = final_data.groupby('restaurant_name_y')['total_amount'].mean().reset_index()
order_counts_per_restaurant = final_data.groupby('restaurant_name_y').size().reset_index(name='order_count')
restaurant_data = pd.merge(avg_order_value_per_restaurant, order_counts_per_restaurant, on='restaurant_name_y', how='inner')
restaurants_less_than_20_orders = restaurant_data[restaurant_data['order_count'] < 20]

restaurant_options = [
    'Grand Cafe Punjabi',
    'Grand Restaurant South Indian',
    'Ruchi Mess Multicuisine',
    'Ruchi Foods Chinese'
]
name_mapping = final_data[['restaurant_name_x', 'restaurant_name_y']].drop_duplicates()
options_mapped = name_mapping[name_mapping['restaurant_name_x'].isin(restaurant_options)]

highest_avg_order_from_options = pd.merge(
    options_mapped,
    restaurants_less_than_20_orders,
    on='restaurant_name_y',
    how='inner'
).sort_values(by='total_amount', ascending=False).iloc[0]

print('\nhighest_avg_order_from_options:')
print(highest_avg_order_from_options)

highest_avg_order_from_options:
restaurant_name_x    Ruchi Mess Multicuisine
restaurant_name_y             Restaurant_385
total_amount                      938.202778
order_count                               18
Name: 1, dtype: object

In [26]:
num_distinct_users = final_data['user_id'].nunique()

hyderabad_revenue = final_data[final_data['city'] == 'Hyderabad']['total_amount'].sum()
rounded_hyderabad_revenue = round(hyderabad_revenue)

average_order_value_gold = gold_members_df['total_amount'].mean()
rounded_avg_order_value_gold = round(average_order_value_gold, 2)

orders_high_rating = final_data[final_data['rating'] >= 4.5]
num_orders_high_rating = len(orders_high_rating)

top_gold_revenue_city = city_revenue.iloc[0]['city']
orders_in_top_gold_city = gold_members_df[gold_members_df['city'] == top_gold_revenue_city]
num_orders_top_gold_city = len(orders_in_top_gold_city)

print('\nOther variables defined.')

Other variables defined.

In [29]:
highest_revenue_city = city_revenue.iloc[0]
print(f"{highest_revenue_city['city']}")

Chennai

In [31]:
highest_avg_cuisine_result = avg_order_value_by_cuisine.loc[avg_order_value_by_cuisine['total_amount'].idxmax()]
print(f"{highest_avg_cuisine_result['cuisine']}")

Mexican

In [33]:
users_over_1000 = user_total_orders[user_total_orders['total_amount'] > 1000]
num_users_over_1000 = users_over_1000['user_id'].nunique()
print(f"{num_users_over_1000}")

2544

In [36]:
highest_revenue_range_result = revenue_by_rating_range.loc[revenue_by_rating_range['total_amount'].idxmax()]
print(f"{highest_revenue_range_result['rating_range']}")

4.6-5.0

In [38]:
total_orders = len(final_data)
gold_member_orders = len(gold_members_df)
percentage_gold_members_result = round((gold_member_orders / total_orders) * 100)
print(f"{percentage_gold_members_result}%")

50%

In [41]:
print(f"{highest_avg_order_from_options['restaurant_name_x']} ")

Ruchi Mess Multicuisine

In [44]:
highest_revenue_combination_result = revenue_df.loc[revenue_df['Total Revenue'].idxmax()]
print(f"{highest_revenue_combination_result['Combination']}")

Gold + Italian cuisine

In [46]:
highest_revenue_quarter_result = quarterly_revenue.iloc[0]
print(f"{highest_revenue_quarter_result['quarter']} ")

3.0

In [47]:
num_gold_orders = len(gold_members_df)
print(f"{num_gold_orders}")

4987

In [48]:
print(f"{rounded_hyderabad_revenue}")

1889367

In [49]:
print(f"{num_distinct_users}")

2883

In [53]:
print(f"{rounded_avg_order_value_gold}")

797.15

In [54]:
print(f"{num_orders_high_rating}")

3374

In [56]:
print(f"{top_gold_revenue_city}")

Chennai

In [60]:
avg_order_value_gold_members = gold_members_df.groupby('city')['total_amount'].mean().reset_index()
avg_order_value_gold_members.head()

        city  total_amount
0  Bangalore    793.223756
1    Chennai    808.459080
2  Hyderabad    806.421034
3       Pune    781.162243